body {
    background-color: black;
}
.margins {
    margin-left: 7vw;
    margin-right: 7vw;
}
.sous-titre {
    color: white;
    text-align: left;
    margin-top: 8vw;
    font-size: 30px;
}
.sous-titre1 {
    color: white;
    text-align: center;
    margin-top: 8vw;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paragraphe {
    margin-top: 4vw;
    margin-bottom: 10vw;
    padding: 5vw;
    background-color: rgb(241, 241, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    white-space: pre-line;
    text-align: center;
    font-weight: bold;
}
.paragraphe1 {
    text-align: center;
    text-align: justify;
    margin-top: 4vw;
    margin-bottom: 10vw;
    padding: 6vw;
    background-color: white;
}
.paragraphe2 {
    margin-top: 4vw;
    margin-bottom: 10vw;
    padding: 5vw;
    background-color: rgb(241, 241, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    white-space: pre-line;
    text-align: left;
    text-align: justify;
    font-weight: bold;
}
.paragraphe3 {
    margin-top: 4vw;
    
    margin-left: 15vw;
    padding: 5vw;
    background-color: rgb(241, 241, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    white-space: pre-line;
    text-align: left;
    text-align: justify;
    font-weight: bold;
}
.galerie {
    text-align: center;
    margin-top: 6vw;
}
.galerie2 {
    text-align: center;
    margin-top: -10vw;
}
.image1 {
    text-align: left;
}
.image2 {
    float: left;
    width: 250px;
}
.image3 {
    width: 20%;
    height: auto;
    float: left;
    padding: 2vw;
}
.conteneur {
    text-align: center;
    margin-bottom: 5vw;
}
.conteneur1 {
    text-align: left;
    margin-top: -3vw;
}
.conteneur2 {
    text-align: center;
    margin-bottom: 2.3vw;
    margin-top: 2.3vw;
}
.conteneur3 {
    text-align: center;
    margin-top: 10vw;
}
.conteneur4 {
    text-align: left;
    margin-top: 10.6vw;
}
.conteneur5 {
    text-align: center;
    margin-right: 8vw;
}
.conteneur6 {
    text-align: center;
    margin-left: 4vw;
    margin-top: -1.2vw;
}
.conteneur7 {
    text-align: left;
    margin-top: 30vw;
}
button {
    padding: 20px 20px;
    font-size: 50px;
    color: white;
    background-color: black;
    border-radius: 2px;
    border: 2px solid white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
b {
    padding: 10px 10px;
    color: white;
}
c {
    color: white;
}
video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }