body {
    background-color: black;
}
body:after {
    animation: grain 8s steps(10) infinite;
    background-image: url(design/noise.jpg);
    content: "";
    height: 150%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 200%;
}
@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }
.margins {
    margin-left: 7vw;
    margin-right: 7vw;
}
.paragraphe {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding: 6vw;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: pre-line;
}
.conteneur {
    text-align: center;
    margin-bottom: 5vw;
    margin-top: 200vw;
}
button {
    padding: 20px 20px;
    font-size: 40px;
    color: white;
    background-color: black;
    border-radius: 2px;
    border: 2px solid white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}