body {
    background-color: black;
}
.margins {
    margin-left: 7vw;
    margin-right: 7vw;
}
.sous-titre {
    color: white;
    text-align: center;
    margin-top: 8vw;
}
.paragraphe {
    
}
.galerie {
    text-align: center;
    margin-top: 7vw;
}
.image {
    
}
