body {
    background-color: rgb(252, 242, 237);
}
.margins {
    margin-left: 1vw;
    margin-right: 1vw;
}
.paragraphe {               /*bandeau*/
    text-align: center;
    text-align: justify;
    margin-bottom: 5vw;
    padding: 4vw;
    background-color: white;
    outline: 4px solid black;
    outline-offset: -2px;
    background-image: url(bandeau.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.paragraphe1 {
    text-align: center;
    font-size: 30px;
    background-image: url(design/bandeau.jpg);
    background-size: 1500px 400px;
    background-repeat: no-repeat;
    padding: 2vw;
    border: 3px solid black;
}
.paragraphe2 {
    text-align: center;
    font-size: 30px;
    background-color: white;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 5vw;
    padding: 2vw;
    outline: 3px solid black;
    outline-offset: -10px;
}
.paragraphe3 {
    background-color: white;
    padding: 1vw;
    font-size: 20px;
    border: 3px solid black;
}
.sousparagraphe {
    text-align: left;
    background-color: white;
    margin-top: 3vw;
    margin-right: 7vw;
    margin-left: 7vw;
    padding: 3vw;
    outline: 1px solid black;
    outline-offset: -7px;
}
.galerie {
    text-align: center;
    margin-top: 3vw;
}
.galerie2 {                 /*bandeau*/
    margin-left: -2vw;
}
.image {
    width: 20%;
    height: auto;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 5vw;
}
.image1 {
    height: auto;
    width: 8%;
    text-align: left;
}
.image2 {                   /*bandeau*/
    margin-top: -3vw;
    height: auto;
    width: 8%;
}
.texte {
    margin-top: -3vw;
}
.conteneur {                /*bandeau*/
    text-align: right;
    margin-top: -5vw;
}
button {
    padding: 3px 7px;
    font-size: 15px;
    color: black;
    background-color: rgb(243, 239, 235);
    border: 2px solid black;
    border-radius: 2px;
    margin-left: 2vw;
}
/*.copyright {
    color:white;
}

a href="04_02_b45.html">
    <img class="image" src="jpeg/b45">
</a>
*/